.container-cadastro {
    margin: auto !important;
    font-family: "Poppins";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.form-cadastro {
    margin: auto !important;
    background-color: #58595b;
    padding: 0px 4rem;
    border-radius: 0px;
    margin-right: 0%;
}

.h1-cadastro {
    color: #a8fcff;
    text-align: center;
    padding-top: 20px;
}

.select-cadastro {
    width: 22rem;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin: 10px 0px;
    margin-right: 0px;

    color: black;
}

.button-cadastro {
    width: 22rem;
    height: 50px;
    padding: 10px;
    border: none;
    background-color: #a8fcff;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 30px;
    color: black;
}
