.cardProcesso{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardProcesso:hover{
    cursor: pointer;
}


.card {
    width: 12rem;
    background-color: lightgray;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;

}

h2 {
    font-family: "Poppins";
    color: #53c4cd;
}

p {
    font-family: "Poppins";
    color: #58595b;
}

h3 {
    font-family: "Poppins";
    color: #292a2d;
}
