.cardProcesso {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
  }

.cardProcesso:hover {
    cursor: pointer;
}


.card {
    width: 12rem;
  background-color: lightgray;
  border-radius: 1rem;
  padding: 1rem 0.8rem 1rem 2.2rem;

}

.card::before {
    content: "";
    background: red;
    width: 1.4rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    border-radius: 12px 0px 0px 12px;
  }

h2 {
    font-family: "Poppins";
    color: #53c4cd;
}

p {
    font-family: "Poppins";
    color: #58595b;
}

h3 {
    font-family: "Poppins";
    color: #292a2d;
}