.span {
  font: "";
}

.descricao {
  color: black !important;
  font: 1rem normal black,!important;
}


.meuBotao {
  background-color: #616161;
  color: #000000;
  border: none;
  outline: none;
  margin-right: 70px;
}

.legenda{
  color: #000000;
  font-family: "Roboto";
}