.span {
  font: "";
  
}

.descricao {
  /* color: black !important;
  font: 1rem normal black !important; */
  margin-top: 1rem;
}

.meuBotao {
  background-color: #616161;
  color: #000000;
  border: none;
  outline: none;
  margin-right: 70px;
}

.legenda {
  color: #fffdfd;
  font-family: "Roboto";
}

.swalFire {
  font-size: 0.85rem;
}

.swalFire, .poppins-text {
  font-family:  "Poppins";
}

.swal2-confirm {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
