
.cardEtapa {
    width: 9 rem;
    background-color: black;
    border-color: white;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3px;
  
}

.cardEtapa:hover{
    cursor: pointer;
}

 .top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .etapa {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: bold;
    color: #53c4cd;
} 

.pendente {
    font-family: "Poppins";
    font-size: 13px;
    font-weight: bold;
    color: #53c4cd;
}

.descricao {
    margin-top: 16px;
    font-size: 16px;
    color: aliceblue;
} 

